.page-template-template-approach {
  .subpage-head {
    .subhead {
      background: linear-gradient(270deg, #ffffff 30%, $color-plum 30%);
      @include breakpoint(mobile){
        background: $color-plum;
      }
      h2 {
        font-weight: 500;
      }
    }
  }
  .sub-hero {
    .inner {
      padding: 60px 0;
      .headline {
        h2 {
          font-size: 26px;
          font-weight: 300;
        }
      }
    }
  }
  .content-chunk {
    // padding-top: 20px;
  }
  .full-photo {
    margin-bottom: 60px;
    padding-bottom: 30px;
    @include breakpoint(mobile){
      margin-bottom: 0;
    }
  }
  .cta-blurb {
    margin-bottom: 60px;
  }
}
