.page-template-template-projects {
  .subpage-head {
    .inner {
      .content {
        .h2 {
          @include breakpoint(desktop){
            padding-top: 120px;
          }
        }
      }
    }
  }
  .small-cta {
    padding-bottom: 30px;
    @include breakpoint(mobile){
      padding-top: 0;
      padding-bottom: 30px;
    }
  }
  .isotope-grid {
    padding-top: 30px;
    padding-bottom: 45px;
    img {
      height: auto;
    }
  }
  .photo-block.color-primary {
    margin-top: 60px;
    @include breakpoint(mobile){
      margin-top: 0;
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }
  .photo-block.color-secondary {
    margin-bottom: 0px;
  }
  .cta-blurb {
    padding-top: 0;
    padding-bottom: 90px;
  }
}

.single-projects {
  #project-detail {
    max-height: 850px;
    img {
      max-height: 850px;
      height: auto;
    }
  }
  section.title {
    background: $color-greyMed;
    padding: 10px 0;
    // margin-bottom: 20px;
    h1 {
      color: $white;
      font-weight: 300;
      font-size: 32px;
    }
  }
  #project-carousel {
    margin-bottom: 30px;
    .item {
      border: solid 4px $white;
      &.activeItem {
        border: solid 4px $color-teal;
      }
    }
    .itemContent {
      // height: 128px;
      img {
        height: auto;
      }
    }
  }
  .post-content {
    > p, > ul li {
      margin-top: 0;
      font-size: 18px;
      line-height: 1.6;
      color: $textcolor;
      a {
        color: $color-teal;
        &:hover {
          color: $color-watermelon;
        }
      }
    }

  }
  .statBlock {
    .row {
      flex-flow: column;
      margin-bottom: 15px;
      .stat {
        font-size: 12px;
        margin-bottom: 5px;
        color: lighten($textcolorLite, 20%);
      }
      .value {
        color: $textcolor;
      }
    }
  }
  .project-quote {
    background: $black5;
    padding: 20px 40px;
    p {
      @include breakpoint(desktop){
        line-height: 1.8;
        font-size: 16px;
        color: $black75;
      }

    }
  }
  p.tags {
    border-top: solid 1px $black15;
    padding-top: 20px;
    margin-top: 15px;
    font-size: 12px;
    a {
      color: $color-teal;
      &:hover {
        color: $color-plum;
      }
    }
  }
  footer {
    // margin-top: 60px;
  }
}

.tax-project-type {
  .subpage-head-small {
    margin-bottom: 0;
  }
  .projectTypeList {
    @include breakpoint(desktop){
      margin-left: 0 !important;
    }
    p {
      font-size: 12px;
      margin-bottom: 25px;
      strong {
        font-size: 16px;
        display: block;
        margin-bottom: 5px;
      }
      &.no-link {
        color: lighten($textcolor, 15%);
      }
    }
    a {
      color: $color-darkteal;
      text-decoration: none;
      &:hover {
        color: $color-watermelon;
      }
    }
  }
}
